<mat-toolbar style="background: rgb(119, 10, 7); color: white">
  <!-- <button
    (click)="sidenav.toggle()"
    fxShow="true"
    mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button> -->
  <button
    fxShow="true"
    mat-icon-button>
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span class="spacer"></span>
  <div fxShow="true" fxHide.lt-md>
    <button mat-button [matMenuTriggerFor]="userMenu"><mat-icon class="me-1">account_circle</mat-icon>Username<mat-icon>expand_more</mat-icon></button>
    <mat-menu #userMenu="matMenu" xPosition="after">
    <button mat-menu-item ><mat-icon color="delete" class="me-1">logout</mat-icon>Cerrar sesión</button>
    </mat-menu>
  </div>
</mat-toolbar>
