<!--The content below is only a placeholder and can be replaced-->
<!--<mat-sidenav-container fullscreen>
  <mat-sidenav mode="side" #sidenav opened position="start">-->
<!--left panel-->
<!--<div class="profile">
      <img class="avatar mat-elevation-z8" src="assets/images/praus1.png" />
      <h4 class="name">KARION</h4>
      <p class="designation">Praus</p>
<mat-divider></mat-divider>
    </div> -->

<!--</mat-sidenav>-->
<!-- <mat-sidenav-container fullScreen>
  <mat-sidenav #sidenav mode="over" style="background:rgba(243, 96, 11, 0.726) ">
    <mat-toolbar style="background:rgba(243, 96, 11, 0.726)">
      <a routerLink="/inicio">
        <img
          src="assets/images/praus1.png"
          alt="Karion"
          style="width: 4rem; padding-right: 1rem;"
        />
        PRAUS
      </a>
    </mat-toolbar>

    <mat-nav-list>
      <h2 style="color: white;" matSubheader>Admin Settings</h2>
      <mat-divider></mat-divider>
      <h2 style="color: white;" matSubheader>Register People</h2>
      <a mat-list-item routerLink="/-----" (click)="sidenav.toggle()">
        <mat-icon class="me-1">perm_identity</mat-icon>Create User
      </a>
      <a mat-list-item routerLink="/register-rol" (click)="sidenav.toggle()">
        <mat-icon class="me-1">article</mat-icon>Create Rules
      </a>
      <a mat-list-item routerLink="/-------" (click)="sidenav.toggle()">
        <mat-icon class="me-1">gamepad</mat-icon>User List
      </a>
      <mat-divider></mat-divider>

      <h2 style="color: white;" matSubheader>Units</h2>
      <a mat-list-item routerLink="/------" (click)="sidenav.toggle()">
        <mat-icon class="me-1">description</mat-icon>Create Faculty
      </a>
      <a mat-list-item routerLink="/-----" (click)="sidenav.toggle()">
        <mat-icon class="me-1">description</mat-icon>Create Career
      </a>
      <a mat-list-item routerLink="/register-matter" (click)="sidenav.toggle()">
        <mat-icon class="me-1">description</mat-icon>Create Matter
      </a>
      <a mat-list-item routerLink="/------" (click)="sidenav.toggle()">
        <mat-icon class="me-1">description</mat-icon>Create Chapter
      </a>
      <mat-divider></mat-divider>

      <h2 style="color: white;" matSubheader>Interface Teacher</h2>
      <a mat-list-item routerLink="/------" (click)="sidenav.toggle()">
        <mat-icon class="me-1">note_add</mat-icon>Create Exam
      </a>
      <a mat-list-item routerLink="/crear-pregunta" (click)="sidenav.toggle()">
        <mat-icon class="me-1">file_present</mat-icon>Add Question
      </a>
      <mat-divider></mat-divider>

      <h2 style="color: white;" matSubheader>Sesión</h2>
      <a mat-list-item routerLink="/" (click)="sidenav.toggle();">
        <mat-icon class="me-1">logout</mat-icon>Cerrar sesión
      </a>
    </mat-nav-list>
  </mat-sidenav> -->

  <!--	// NAVIGATION BAR -->
  <!-- <mat-sidenav-content fxFlexFill>
    <ng-content select="[slot=toolbar]"></ng-content>
    <ng-content select="[slot=router]"></ng-content>
  </mat-sidenav-content> -->
  <!--<mat-sidenav-content>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    My Application
    <span class="toolbar-spacer"></span>
    My Account
  </mat-toolbar>
  <router-outlet></router-outlet>
</mat-sidenav-content>-->

<!-- </mat-sidenav-container> -->

<mat-sidenav-container>
  <mat-sidenav #sidenav class="mat-elevation-z4" mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of routeList"
        [routerLink]="[item.route]" routerLinkActive="active" 
        >
        <mat-icon matListIcon>{{item.icon}}</mat-icon>
        <h3 matLine>{{item.label}}</h3>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="container">
    <router-outlet></router-outlet>  
  </div>
</mat-sidenav-container>