/* You can add global styles to this file, and also import other style files */
.sidenav-container {
	height: 100vh;
	width: 100%;
}

.sidenav {
	width: 200px;
}

.sidenav .mat-toolbar {
	background: inherit;
}

.mat-toolbar.mat-primary {
	position: sticky;
	top: 0;
	z-index: 2;
}

.spacer {
	flex: 1 1 auto;
}

mat-toolbar a {
	display: inline-block;
	margin: 0 10px;
	color: white;
	text-decoration: none;
}

.hidden {
	display: none;
}

/*mat-icon {
}*/

mat-nav-list a {
	color: white;
}

.mat-toolbar-row, .mat-toolbar-single-row {
	display: flex;
	box-sizing: border-box;
	padding: 0 16px;
	width: 100%;
	flex-direction: row;
	align-items: center;
	white-space: nowrap;
}

.mat-toolbar-row, .mat-toolbar-single-row {
	height: 64px !important;
}
.mat-toolbar {
	margin: 0 !important;
	width: auto !important;
}

.mat-sidenav-container {
	height: 100vh;
}

@media (min-width: 768px) {
	/* .sidenav {
		display: none;
	} */
}