<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
		  <div>Exam<span>Generator</span></div>
		</div>
		<br>
		<div class="login">
		  <form action="ejemplo.php" method="get">
			<mat-form-field appearance="fill">
				

				<input 
					matInput  
					type="email" 
					placeholder="email" 
					formControlName="email"
					minlength="11"
      				maxlength="50"
       				required
				>
				
			  </mat-form-field>
			  <br>
			  <mat-form-field appearance="fill">
				
				<input 
					matInput  
					type="password" 
					placeholder="password" 
					formControlName="password"
					minlength="8"
      				maxlength="25"
       				required
				>
					
			  </mat-form-field>
			  <br>
			  
				 <button  type="submit" (click) = "submit()">LOGIN</button>
		  </form>
		</div>
		
	